# Object files
*.o
*.ko
*.obj
*.elf
*.d

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Dump files
*.exe.stackdump

# Debug files
*.dSYM/

doc/

src/cap
src/cap-alias
src/cap-cat
src/cap-cd
src/cap-home
src/cap-ls
src/cap-pwd
src/cap-run
src/cap-hub
src/tests

*.pyc
